<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">Customer Service</p>
                    <p class="tel">400-xxx-xx13</p>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">Online</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>Help Center</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Account</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Instruction</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Order</a></dd>
            </dl>
            <dl class="col-article">
                <dt>Follow us</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Twitter</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Facebook</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Contact Us</a></dd>
            </dl>
            <dl class="col-article">
                <dt>OffLine</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">NEWBEE TOWN</a>
                </dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Service</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Location</a></dd>
            </dl>
            <dl class="col-article">
                <dt>About Shop</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Know More</a>
                </dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Jion Us</a>
                </dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Maintain</a>
                </dd>
            </dl>
            <dl class="wx">
                <dt>E-Commerce shop</dt>


            </dl>
        </div>

        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p><a href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Online Shop &nbsp; | &nbsp;
                    Powered by Feng&nbsp;
                    | &nbsp;</a>

                </p>
                <p><a href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Copyright ©newbee.ltd All
                    Rights
                    Reserved.&nbsp;  </a></p>
                <p style="color: #1baeae">Still in progress New features coming up </p>
            </div>
        </div>

    </div>
</div>
</html>